* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ecebfa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header > .title {
  font-size: 1.8rem;
  /* transition: font-size 3s; */
}

header > svg {
  font-size: 10rem;
  transition: font-size 2s;
  /* transition-timing-function: linear; */
  /* transition-delay: 1s; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ecebfa;
}

.App {
  text-align: center;
  margin-top: 3rem;
}

.users-list {
  display: grid;
  gap: 2rem;
  margin: 2rem;
}

.user {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  background-color: rgb(153, 200, 253);
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
}

.avatar {
  width: 90px;
  border-radius: 50%;
  border: 3px solid rgba(202, 20, 20, 0.945);
}

.name {
  text-transform: capitalize;
  line-height: 1.8;
  font-size: 1rem;
}

.profile-link {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #161163a1;
}

.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem 1rem 0 0;
  color: #16116352;
}

.deep {
  /* display: flex; */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ecebfa;
  padding: 0.5rem;
  z-index: 1;
}

.deep > h1 {
  font-size: 1rem;
}

.deep > svg {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .users-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
